[Unit]
Description=Celery

# Requirements
Requires=etcd2.service
Requires=docker.service

# Dependency ordering
After=etcd2.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

Restart=always

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill celery{{ version }}.%i
ExecStartPre=-/usr/bin/docker rm celery{{ version }}.%i
ExecStartPre=/usr/bin/docker pull quay.io/kerin/jsum-web:{{ web_tag }}
ExecStart=/usr/bin/docker run --name celery{{ version }}.%i \
    -e "COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4}" \
    quay.io/kerin/jsum-web:{{ web_tag }} /usr/bin/python2 /usr/local/bin/supervisord \
    -n -c /etc/supervisor/roles/worker.conf

# Stop
ExecStop=/usr/bin/docker stop celery{{ version }}.%i

[X-Fleet]
# Don't schedule on the same machine as other Postgres instances
Conflicts=celery{{ version }}@*.service
MachineMetadata=role=worker
